{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h3>List of top savers in the Energapp</h3></br>
{% if savers_list  %}
<ul class="unstyled">
    {% for saver in savers_list %}
            <li>
                <h4 class="topsaverslist"><i class="icon-user" title="User id: {{ saver.id }}"></i>{{ saver }} - <span class="pointz"> {{ saver.points }} </span></h4>
            </li></br>
    {% endfor %}
</ul>
{% else %}
<p>There are no users in the system yet:(</p>
{% endif %}
{% endblock %}