{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <h2>What is Energapp?</h2>
    <p>Energapp is the application that allows you to track your home appliances, energy consumption, track your progress towards lowering your consumption and share your progress with your friends. </p>
    <h2>How it works?</h2>
    <p>Energapp requires you to have a smart meter or at least a CSV file where you keep your consumption track. You can upload your consumption file via the Uploader on the top navigation menu.
    The system will then calculate how much energy you have used since the last upload. Energapp will also calculate the amount of points you have gained since the last upload and add them to your current progress.
    Energapp also allows you to share your points and progress via <a href="https://twitter.com">twitter</a> (and hence facebook if you have one). 
    We recommend you to share your progress and points gained with your friends as much as possible (but don't spam!), so it was more fun for you to compete with each other.</p>
    <h2>How does Energapp calculate the points?</h2>
    <p>Energapp has got two types of points, overall(server) and personal(app) points. Personal points are straightforward: you upload your data and Energapp calculates the points according to your data. Essentially,
    the less energy you have used, the more points you will receive.
    Overall or server points are calculated with relation to other users' points: they depend on which 'place' you are relatively to other people's points. The higher in place you are (the more points you have), the more
    server points you will be given. Consider server points as a bonus.</p>
    <p>Below you can check how much points you can get for the amount of energy you use.</p>
    <table>
        <caption>Personal points</caption>
        <tr>
            <td>Points</td>
            <td>Energy used</td>
        </tr>
        <tr>
            <td>10</td>
            <td>0-99 kW</td>
        </tr>
        <tr>
            <td>9</td>
            <td>100-199 kW</td>
        </tr>
        <tr>
            <td>8</td>
            <td>200-299 kW</td>
        </tr>
        <tr>
            <td>7</td>
            <td>300-399 kW</td>
        </tr>
        <tr>
            <td>6</td>
            <td>400-499 kW</td>
        </tr>
        <tr>
            <td>5</td>
            <td>500-599 kW</td>
        </tr>
        <tr>
            <td>4</td>
            <td>600-699 kW</td>
        </tr>
        <tr>
            <td>3</td>
            <td>700-799 kW</td>
        </tr>
        <tr>
            <td>2</td>
            <td>800-999 kW</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1000+ kW</td>
        </tr>
    </table>
    <h2>Who is it suitable for?</h2>
    <p>write who it is suitable for</p>
    <h2>Have questions?</h2>
    <p>If you have got any questions, complaints or feedback feel free to <a href="mailto:ai2g08@ecs.soton.ac.uk">email us</a>.
        We should respond within 24 hours.</p>
</div>
{% endblock %}