{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}User test{% endblock %}</title>
    <!--for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><!--jquery-->
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script><!--dropdown addon-->
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
    </script>
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" /><!--link to my style.css-->
    <link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" /><!--link to bootstrap's css-->
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Energapp</a>
                {% block header %}
                {% if user.is_authenticated %}
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% trans "Logged in" %}: {{ user.username }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url auth_password_change %}">{% trans "Change password" %}</a></li>
                            <li><a href="{% url user-settings username=user.username %}">Settings</a></li>
                            <li><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url user-uploader username=user.username %}">{{ "Upload your CSV" }}</a></li>
                    <li><a href="{% url user-top %}">{{ "Top Savers" }}</a></li>
                </ul>
                {% else %}
                <ul class="nav">
                    <li><a href="{% url registration_register %}">{% trans "Register" %}</a></li>
                    <li><a href="{% url auth_login %}">{% trans "Log in" %}</a></li>
                </ul>
                {% endif %}
                <ul class="nav">
                    <li><a href="{% url about %}">{{ "About/Contacts" }}</a></li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}
    {% if user.is_authenticated %}
    <h1>{{ user.username }}</h1><h6>(stats and summary)</h6></br>
    <h2>Points: </h2> <p><span class="important">{{ user.get_profile.points }}</span></p>
    <h2>Overall consumption:</h2> <p><span class="important">{{ user.get_profile.consumption }} W</span></p>
    <h2>Share your progress:</h2><p><a href="https://twitter.com/share" class="twitter-share-button" data-text="I have gained {{ user.get_profile.points }} points!" data-via="unicorndancing" data-size="large" data-hashtags="energapp">Tweet</a></p>
    <h2>Upload frequency:</h2><p class="freq">{{ user.get_profile.uploadFrequency }}</p>
    <h2>Data about your consumption:</h2><p class="error">You haven't uploaded anything yet!</p>
    <h2>Your appliances:</h2>
    <ul class="unordered">
        {% for ap in appliances %}
        {% if ap.profile == user.get_profile %}
        <li>{{  ap.name  }} (cost per unit: {{ ap.cost }})</li>
        {% endif %}
        {% endfor %}
    </ul>
    <h2>Money spent on energy overall:</h2><!--need to set up a price pr kw per appliance-->
    <h2>Your personalised tips:</h2><!--if appliance.type=teapot, if teapot's cons was > w/e <p>you could try to use teapot less?</p>...-->
    <!--hardcoded for now-->
    <p>You are doing great! You could try save up energy next week by:</p>
    <ul>
        <li>using your mobile phone a bit more often than the landline and keeping your land line phone off during the day when you're at work</li>
        <li>using your washing machine at night or early morning</li>
        <li>using your dishwasher either at night or during the day when you are at work</li>
        <li>watching your TV in the morning or during the day</li>
        <li>keeping your computer off, rather than in stand-by mode</li>
        <li>using your vacuum cleaner more during the weekdays</li>
    </ul>
    <p>We have also noticed you have been watching TV during the night time, which is a great way to save up on energy, but make sure it does not mess with your
        daily routines! It is important for you to get a good night sleep.</p></br>

    <form action="/" method="POST">
        {% csrf_token %}
        <input type="submit" value="Generate your personal summary sheet" class="btn-primary"/>
    </form>
    {% else %}
    <p>Hello!</p>
    <p>Our Energapp will let you track and share your energy usage with friends. You need to have a CSV of your energy usage that you can upload from your smart meter. </p>
    <p><strong>Useful tip:</strong> If you share your energy consumption with your friends, our <a href="/">study</a> shows you can reduce your consumption by 3%! </p>
    {% endif %}
    {% endblock %}
</div>
</body>

</html>
