body {
    padding-top:60px;
}
ul {
    list-style:none;
}
h1, .freq {
    text-transform:capitalize;
}
.important {
    color: rgb(71, 101, 64);
    font-weight: bold;
    font-size: 28px;
}
.error {
    color: red;
    font-weight: bold;
    font-size: larger;
}
.topsaverslist {
    text-transform: capitalize;
}
.pointz {
    color: rgb(71, 101, 64);
    font-weight: bold;
}
.options {
    list-style: none;
}
.points_table {
    text-align: center;
}
.points_table_caption {
    font-weight: bold;
}
#personal_points {
    float: left;
    margin-right: 30px;
}
#server_points {
    margin-bottom: 100px;
}